dl.graph:after{
  content:".";
  display: block;
  font-size:0;
  line-height:0;
  height:0;
  clear:both;
  overflow:hidden;
  }
dl.graph a{
  color: #fff;
  }
  dl.graph a:hover{
    color: #fff;
    text-decoration: none;
    }
dl.graph dt{
  width: 33%;
  float: left;
  clear: left;
  background-color: #E05A2B;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  box-shadow: 0 5px 0 0 #DD4814;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  }
  dl.graph dt:first-child{
    margin: 0 0 20px;
    }
dl.graph dd{
  float: left;
  clear: left;
  width: 33%;
  margin: 5px 0 0 100px;
  padding: 20px 0 80px 20px;
  border-left: 1px dotted #77216F;
  position: relative;
  }
  dl.graph dd:after{
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-width: 5px 5px 0;
    border-color: #77216F transparent transparent;
    border-style: solid;
    bottom: 0;
    left: -5px;
    }
  dl.graph dd div{
    background-color: #843E64;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    box-shadow: 0 5px 0 0 #772953;
    font-size: 14px;
    line-height: 16px;
    }
    dl.graph dd:last-child:after{
      display: none;
      }
    dl.graph dd:last-child{
      border-style: none;
      }
